[submodule "vendor/code2seq"]
	path = vendor/code2seq
	url = https://github.com/jjhenkel/code2seq
[submodule "vendor/astminer"]
	path = vendor/astminer
	url = https://github.com/jjhenkel/astminer
[submodule "vendor/CodeSearchNet"]
	path = vendor/CodeSearchNet
	url = https://github.com/jjhenkel/CodeSearchNet
