[submodule "vendor/code2seq"]
	path = vendor/code2seq
	url = https://github.com/tech-srl/code2seq
[submodule "vendor/code2vec"]
	path = vendor/code2vec
	url = https://github.com/tech-srl/code2vec
[submodule "vendor/astminer"]
	path = vendor/astminer
	url = https://github.com/vovak/astminer
[submodule "vendor/CodeSearchNet"]
	path = vendor/CodeSearchNet
	url = https://github.com/github/CodeSearchNet
